.footercontainer{
    width: 1310px ;
    margin-left: -15px;
    margin-bottom:500px ;
    
    
}
.footer-card{
    width: 1335px;
    margin-left: -15px;
}
.footer-body{
    margin-top: -4px;
}
.footer-p{
    margin-top: 5px;
    font-size:0.9rem;
}
@media only screen and (min-width:1401px){
    .footercontainer{
        width: 1310px;
    
        margin-bottom:500px ;
        
        
    }
    .footer-card{
        width: 1325px;
        margin-left: -0px;
    }
}
@media only screen and (min-width:1200px)and (max-width:1400px){
    .footercontainer{
        width: 1050px;
        margin-left: -5px;
        
        
    }
    .footer-card{
        width: 1145px;
        margin-left: -10px;
    }

}

@media only screen and (min-width:992px)and (max-width:1200px){
    .footercontainer{
        width: 950px;
        margin-left: -5px;
    }
    .footer-card{
        width: 965px;
        margin-left: -10px;
    }
    }
@media only screen and (min-width:768px)and (max-width:992px){
    .footercontainer{
        width: 710px;
        margin-left: -5px;
       
    }
    .footer-card{
        width: 720px;
        margin-left: -5px;
    }
}
@media only screen and (min-width:576px)and (max-width:767px){
    .footercontainer{
        width: 525px;
        margin-left: -5px;
       
    }
    .footer-p{
        font-size:0.7rem;
    }
    .footer-card{
        width: 535px;
        margin-left: -5px;
    }
}
@media only screen and (min-width:320px)and (max-width:576px){
    .footercontainer{
        width: 100%;
        margin-left: 0px;
       
    }
    .footer-p{
        font-size:0.6rem;
    }
    .footer-card{
        width: 300px;
        margin-left: 0px;
    }
   
}